In [5]:
import pandas as pd

In [2]:
tweets = list()

with open("full_text_tweets.txt", encoding = "utf8", errors = 'ignore') as file:
    for row in file:
        tweets.append(row)

In [17]:
a = tweets[0].strip('\n')
a = a.split('\t')
print(a)

['USER_79321756', '2010-03-03T04:15:26', 'ÜT: 47.528139,-122.197916', '47.528139', '-122.197916', 'RT @USER_2ff4faca: IF SHE DO IT 1 MORE TIME......IMA KNOCK HER DAMN KOOFIE OFF.....ON MY MOMMA&gt;&gt;haha. #cutthatout']

In [3]:
out_dict = {"User": list(), "Time" : list(), "Coords": list(), "Latitude": list(), "Longitude": list(), "Tweet": list()}

for elm in tweets:
    a = elm.strip('\n')
    a = a.split('\t')
    
    out_dict["User"].append(a[0])
    out_dict["Time"].append(a[1])
    out_dict["Coords"].append(a[2])
    out_dict["Latitude"].append(a[3])
    out_dict["Longitude"].append(a[4])
    out_dict["Tweet"].append(a[5])

In [6]:
data = pd.DataFrame.from_dict(out_dict)

In [7]:
data.head()

,User,Time,Coords,Latitude,Longitude,Tweet
0,USER_79321756,2010-03-03T04:15:26,"ÜT: 47.528139,-122.197916",47.528139,-122.197916,RT @USER_2ff4faca: IF SHE DO IT 1 MORE TIME......
1,USER_79321756,2010-03-03T04:55:32,"ÜT: 47.528139,-122.197916",47.528139,-122.197916,@USER_77a4822d @USER_2ff4faca okay:) lol. Sayi...
2,USER_79321756,2010-03-03T05:13:34,"ÜT: 47.528139,-122.197916",47.528139,-122.197916,RT @USER_5d4d777a: YOURE A FAG FOR GETTING IN ...
3,USER_79321756,2010-03-03T05:28:02,"ÜT: 47.528139,-122.197916",47.528139,-122.197916,@USER_77a4822d yea ok..well answer that cheap ...
4,USER_79321756,2010-03-03T05:56:13,"ÜT: 47.528139,-122.197916",47.528139,-122.197916,A sprite can disappear in her mouth - lil kim ...

In [8]:
data["Coords"].value_counts()

ÜT: 40.714269,-74.005972     4129
ÜT: 40.75,-73.997            1927
ÜT: 41.001371,-73.761575      301
ÜT: 37.234388,-77.432657      277
ÜT: 40.623387,-73.917237      273
                             ...
ÜT: 34.100712,-118.329884       1
ÜT: 40.758347,-73.983265        1
ÜT: 35.964388,-78.948632        1
ÜT: 40.689426,-74.269677        1
ÜT: 29.667258,-95.261313        1
Name: Coords, Length: 46332, dtype: int64