In [1]:
import pandas as pd
from IPython.display import clear_output

import warnings

# Suppress all warnings
warnings.filterwarnings('ignore')

In [2]:
# Original Regions
West_Coast = ('California','Oregon', 'Washington')
Southwest = ('Arizona','New Mexico','Oklahoma','Texas')
Rockies = ('Nevada','Utah','Colorado','Wyoming','Idaho','Montana')
Midwest = ('North Dakota','South Dakota','Nebraska','Kansas','Missouri','Iowa','Minnesota')
East_Midwest = ('Wisconsin','Illinois','Indiana','Michigan','Ohio')
South = ('Tennessee','Kentucky','North Carolina', 'Virginia','West Virginia','Maryland','Delaware', 'District of Columbia')
Deep_South = ('Arkansas','Louisiana','Mississippi','Alabama','Georgia','Florida','South Carolina',)
Northeast = ('Pennsylvania','New Jersey','New York','Massachusetts', 'Rhode Island','Conneticut','Vermont','New Hampshire','Maine')
NonCont = ('Hawaii','Alaska', 'Puerto Rico')

In [3]:
# pool

In [4]:
# Timezones
East = ('Pennsylvania','New Jersey','New York','Massachusetts', 'Rhode Island','Conneticut','Vermont','New Hampshire','Maine',
       'Puerto Rico', 'Michigan','Ohio','North Carolina', 'Virginia','West Virginia','Maryland','Delaware', 'District of Columbia',
        'Indiana','Kentucky','Georgia','Florida','South Carolina')

Central = ('Oklahoma','Texas','North Dakota','South Dakota','Nebraska','Kansas','Missouri','Iowa','Minnesota','Arkansas','Louisiana',
           'Mississippi','Alabama','Tennessee','Wisconsin','Illinois')

Mountain = ('Arizona','New Mexico','Utah','Colorado','Wyoming','Idaho','Montana')

West = ('California','Oregon', 'Washington','Nevada')


Pacific = ('Hawaii','Alaska')

In [5]:
# Split timezones
N_East = ('Pennsylvania','New Jersey','New York','Massachusetts', 'Rhode Island','Conneticut','Vermont','New Hampshire','Maine',
         'Michigan','Ohio','West Virginia','Maryland','Delaware', 'District of Columbia','Indiana')
S_East = ('Puerto Rico','North Carolina', 'Virginia','Kentucky','Georgia','Florida','South Carolina')

N_Central = ('North Dakota','South Dakota','Nebraska','Missouri','Iowa','Minnesota','Wisconsin','Illinois')
S_Central = ('Oklahoma','Texas','Kansas','Arkansas','Louisiana','Mississippi','Alabama','Tennessee')

N_Mountain = ('Wyoming','Idaho','Montana')
S_Mountain = ('Arizona','New Mexico','Utah','Colorado')

N_West = ('Oregon','Washington')
S_West = ('California','Nevada')

In [6]:
r1 = ('Conneticut','Maine','Massachusetts','New Hampshire','Rhode Island','Vermont')
r2 = ('New Jersey','New York','Puerto Rico')
r3 = ('Delaware','District of Columbia','Maryland','Pennsylvania','Virginia','West Virginia')
r4 = ('Alabama','Florida','Georgia','Kentucky','Mississippi','North Carolina',
     'South Carolina','Tennessee')
r5 = ('Illinois','Indiana','Michigan','Minnesota','Ohio','Wisconsin')
r6 = ('Arkansas','Louisiana', 'New Mexico','Oklahoma','Texas')
r7 = ('Iowa','Kansas','Missouri','Nebraska')
r8 = ('Colorado','Montana','North Dakota','South Dakota','Utah','Wyoming')
r9 = ('Arizona','California','Hawaii','Nevada')
r10 = ('Alaska','Idaho','Oregon','Washington')

In [7]:
df = pd.read_csv('All_US_tweets.csv')

In [8]:
df['Closest_State'].unique()

array(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Conneticut', 'Delaware', 'District of Columbia', 'Florida',
       'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana',
       'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico',
       'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma',
       'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island',
       'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah',
       'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

In [9]:
df2 = df.copy()

In [10]:
df2['EPA_Region'] = 'a'

In [11]:
i = 0
imax = df2.shape[0]
#imax = 100

while i < imax:
    st = df2['Closest_State'][i]
    
    if st in r1:
        df2['EPA_Region'][i] = 'EPA_1'

    elif st in r2:
        df2['EPA_Region'][i] = 'EPA_2'

    elif st in r3:
        df2['EPA_Region'][i] = 'EPA_3'

    elif st in r4:
        df2['EPA_Region'][i] = 'EPA_4'

    elif st in r5:
        df2['EPA_Region'][i] = 'EPA_5'

    elif st in r6:
        df2['EPA_Region'][i] = 'EPA_6'

    elif st in r7:
        df2['EPA_Region'][i] = 'EPA_7'

    elif st in r8:
        df2['EPA_Region'][i] = 'EPA_8'

    elif st in r9:
        df2['EPA_Region'][i] = 'EPA_9'

    elif st in r10:
        df2['EPA_Region'][i] = 'EPA_10'

    else:
        print(i)
        i = imax
        
    if i % 1000 == 0:
        clear_output()
        print('Rows processed: ' + str(i) + '/' + str(imax))
        
    i+= 1

Rows processed: 374000/374519

In [12]:
df2['Closest_State'][152285]

'Mississippi'

In [13]:
df2['EPA_Region'].unique()

array(['EPA_4', 'EPA_9', 'EPA_6', 'EPA_8', 'EPA_1', 'EPA_3', 'EPA_10',
       'EPA_5', 'EPA_7', 'EPA_2'], dtype=object)

df_west = pd.DataFrame(columns = df2.columns)
df_west = df2[df2['Closest_State'].isin(West)]

df_east = pd.DataFrame(columns = df2.columns)
df_east = df2[df2['Closest_State'].isin(East)]

df_mountain = pd.DataFrame(columns = df2.columns)
df_mountain = df2[df2['Closest_State'].isin(Mountain)]

df_pacific = pd.DataFrame(columns = df2.columns)
df_pacific = df[df['Closest_State'].isin(Pacific)]

df_central = pd.DataFrame(columns = df2.columns)
df_central = df2[df2['Closest_State'].isin(Central)]

df_west.to_csv('west_time_tweets.csv', index = False)
df_east.to_csv('east_time_tweets.csv', index = False)
df_mountain.to_csv('mountain_time_tweets.csv', index = False)
#df_pacific.to_csv('pacific_time_tweets.csv', index = False)
df_central.to_csv('central_time_tweets.csv', index = False)

In [16]:
df2.to_csv('All_US_EPA_Tweets.csv', index = False)

In [15]:
df2.head()

,Timestamp,TweetText,Closest_State,Closest_City,Region,EPA_Region
0,10229,i gotta get you readded to bbm,Alabama,Adamsville,South,EPA_4
1,16439,ahhh yes,Alabama,Adamsville,South,EPA_4
2,17131,an old locksmith,Alabama,Adamsville,South,EPA_4
3,2648,rt they are shooting at pentagon metro please...,Alabama,Adamsville,South,EPA_4
4,2750,as a matter of fact i wanna ask about that,Alabama,Adamsville,South,EPA_4

In [17]:
df2['Closest_State'].value_counts()

Closest_State
New York                76393
New Jersey              47047
California              34634
Georgia                 25966
Florida                 20181
Texas                   18330
Maryland                18035
Virginia                15679
Ohio                    13774
North Carolina          13328
Illinois                 9478
Michigan                 9456
Pennsylvania             8949
South Carolina           5648
Conneticut               5549
Tennessee                5295
Massachusetts            4148
Arizona                  4136
Louisiana                4051
Alabama                  3136
Indiana                  2970
Washington               2963
Mississippi              2772
District of Columbia     2595
Missouri                 2568
Nevada                   1806
Minnesota                1567
Kentucky                 1369
Wisconsin                1324
Oklahoma                 1259
Rhode Island             1200
Delaware                 1159
Arkansas                 1158
Oregon                   1007
Colorado                  927
Vermont                   924
Kansas                    605
Iowa                      484
Maine                     455
West Virginia             363
Puerto Rico               348
New Mexico                327
Utah                      298
Nebraska                  250
Idaho                     226
North Dakota              126
New Hampshire             110
South Dakota               94
Montana                    27
Wyoming                    25
Name: count, dtype: int64

In [25]:
df3 = df2.copy()

In [26]:
to_removeny = df3[df3['Closest_State'] == 'New York'].sample(n = 40000, random_state = 40)
to_removenj = df3[df3['Closest_State'] == 'New Jersey'].sample(n = 20000, random_state = 40)
df3 = df3.drop(to_removeny.index)
df3 = df3.drop(to_removenj.index)

In [27]:
df3['Closest_State'].value_counts()

Closest_State
New York                36393
California              34634
New Jersey              27047
Georgia                 25966
Florida                 20181
Texas                   18330
Maryland                18035
Virginia                15679
Ohio                    13774
North Carolina          13328
Illinois                 9478
Michigan                 9456
Pennsylvania             8949
South Carolina           5648
Conneticut               5549
Tennessee                5295
Massachusetts            4148
Arizona                  4136
Louisiana                4051
Alabama                  3136
Indiana                  2970
Washington               2963
Mississippi              2772
District of Columbia     2595
Missouri                 2568
Nevada                   1806
Minnesota                1567
Kentucky                 1369
Wisconsin                1324
Oklahoma                 1259
Rhode Island             1200
Delaware                 1159
Arkansas                 1158
Oregon                   1007
Colorado                  927
Vermont                   924
Kansas                    605
Iowa                      484
Maine                     455
West Virginia             363
Puerto Rico               348
New Mexico                327
Utah                      298
Nebraska                  250
Idaho                     226
North Dakota              126
New Hampshire             110
South Dakota               94
Montana                    27
Wyoming                    25
Name: count, dtype: int64

In [28]:
df3.to_csv('All_US_EPA_Tweets.csv', index = False)