In [1]:
import pandas as pd
import csv
from IPython.display import clear_output

In [9]:
West_Coast = ('California','Oregon', 'Washington')
Southwest = ('Arizona','New Mexico','Oklahoma','Texas')
Rockies = ('Nevada','Utah','Colorado','Wyoming','Idaho','Montana')
Midwest = ('North Dakota','South Dakota','Nebraska','Kansas','Missouri','Iowa','Minnesota')
East_Midwest = ('Wisconsin','Illinois','Indiana','Michigan','Ohio')
South = ('Tennessee','Kentucky','North Carolina', 'Virginia','West Virginia','Maryland','Delaware', 'District of Columbia')
Deep_South = ('Arkansas','Louisiana','Mississippi','Alabama','Georgia','Florida','South Carolina',)
Northeast = ('Pennsylvania','New Jersey','New York','Massachusetts', 'Rhode Island','Conneticut','Vermont','New Hampshire','Maine')
NonCont = ('Hawaii','Alaska', 'Puerto Rico')

In [4]:
df = pd.read_csv('All_US_tweets.csv')
df.shape

(374519, 5)

In [6]:
df.head()

,Timestamp,TweetText,Closest_State,Closest_City,Region
0,10229,i gotta get you readded to bbm,Alabama,Adamsville,South
1,16439,ahhh yes,Alabama,Adamsville,South
2,17131,an old locksmith,Alabama,Adamsville,South
3,2648,rt they are shooting at pentagon metro please...,Alabama,Adamsville,South
4,2750,as a matter of fact i wanna ask about that,Alabama,Adamsville,South

In [10]:
i = 0
imax = df.shape[0]
#imax = 100

while i < imax:
    st = df['Closest_State'][i]
    
    if st in West_Coast:
        df['Region'][i] = 'West Coast'

    elif st in Southwest:
        df['Region'][i] = 'Southwest'

    elif st in Rockies:
        df['Region'][i] = 'Rockies'

    elif st in Midwest:
        df['Region'][i] = 'Midwest'

    elif st in East_Midwest:
        df['Region'][i] = 'East Midwest'

    elif st in South:
        df['Region'][i] = 'South'

    elif st in Deep_South:
        df['Region'][i] = 'Deep South'

    elif st in Northeast:
        df['Region'][i] = 'Northeast'

    elif st in NonCont:
        df['Region'][i] = 'NonCont'

    else:
        print(i)
        i = imax
        
    if i % 1000 == 0:
        clear_output()
        print('Rows processed: ' + str(i) + '/' + str(imax))
        
    i+= 1

Rows processed: 374000/374519

In [11]:
df['Region'].unique()

array(['Deep South', 'Southwest', 'West Coast', 'Rockies', 'Northeast',
       'South', 'East Midwest', 'Midwest', 'NonCont'], dtype=object)

In [12]:
df_westcoast = pd.DataFrame(columns = df.columns)
df_westcoast = df[df['Closest_State'].isin(West_Coast)]

df_southwest = pd.DataFrame(columns = df.columns)
df_southwest = df[df['Closest_State'].isin(Southwest)]

df_rockies = pd.DataFrame(columns = df.columns)
df_rockies = df[df['Closest_State'].isin(Rockies)]

df_midwest = pd.DataFrame(columns = df.columns)
df_midwest = df[df['Closest_State'].isin(Midwest)]

df_eastmidwest = pd.DataFrame(columns = df.columns)
df_eastmidwest = df[df['Closest_State'].isin(East_Midwest)]

df_south = pd.DataFrame(columns = df.columns)
df_south = df[df['Closest_State'].isin(South)]

df_deepsouth = pd.DataFrame(columns = df.columns)
df_deepsouth = df[df['Closest_State'].isin(Deep_South)]

df_northeast = pd.DataFrame(columns = df.columns)
df_northeast = df[df['Closest_State'].isin(Northeast)]

df_noncont = pd.DataFrame(columns = df.columns)
df_noncont =df[df['Closest_State'].isin(NonCont)]

In [13]:
df_westcoast.to_csv('west_coast_tweets.csv', index = False)
df_southwest.to_csv('southwest_tweets.csv', index = False)
df_rockies.to_csv('rockies_tweets.csv', index = False)
df_midwest.to_csv('midwest_tweets.csv', index = False)
df_eastmidwest.to_csv('eastmidwest_tweets.csv', index = False)
df_south.to_csv('south_tweets.csv', index = False)
df_deepsouth.to_csv('deepsouth_tweets.csv', index = False)
df_northeast.to_csv('northeast_tweets.csv', index = False)
df_noncont.to_csv('noncont_tweets.csv', index = False)

In [14]:
df.to_csv('All_US_tweets.csv', index = False)