In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('midwest_tweets_embedded.csv')
df2 = pd.read_csv('noncont_tweets_embedded.csv')
df3 = pd.read_csv('northeast_tweets_embedded.csv')
df4 = pd.read_csv('rockies_tweets_embedded.csv')
df5 = pd.read_csv('south_tweets_embedded.csv')
df6 = pd.read_csv('southwest_tweets_embedded.csv')
df7 = pd.read_csv('west_coast_tweets_embedded.csv')

In [3]:
out_df = pd.DataFrame()

In [4]:
dfs = [df1, df2, df3, df4, df5, df6, df7]

In [5]:
for df in dfs:
    out_df = pd.concat([out_df, df], ignore_index = True)

In [6]:
out_df

,Timestamp,TweetText,Closest_State,Closest_City,Region
0,78156,tf.Tensor(\n[[ 5.38101234e-02 -6.44358918e-02 ...,North Dakota,Bottineau,Midwest
1,67600,tf.Tensor(\n[[ 2.39525169e-01 2.53913820e-01 ...,North Dakota,Max,Midwest
2,57842,tf.Tensor(\n[[ 3.36537696e-02 3.85642722e-02 ...,North Dakota,Max,Midwest
3,68023,tf.Tensor(\n[[-7.45420903e-02 4.35339153e-01 ...,North Dakota,Max,Midwest
4,9187,tf.Tensor(\n[[-1.20050207e-01 1.93147376e-01 ...,North Dakota,Fargo,Midwest
...,...,...,...,...,...
67073,71894,tf.Tensor(\n[[ 1.45540968e-01 1.54460773e-01 ...,Washington,Renton,West Coast
67074,61330,tf.Tensor(\n[[-3.20070535e-02 -1.53834388e-01 ...,Washington,Omak,West Coast
67075,73967,tf.Tensor(\n[[-9.19254422e-02 2.78984129e-01 ...,Washington,Olympia,West Coast
67076,7729,tf.Tensor(\n[[-1.16451934e-01 7.56705403e-02 ...,Washington,Lakewood,West Coast
67077,66711,tf.Tensor(\n[[ 1.85607493e-01 -1.99160762e-02 ...,Washington,Kent,West Coast

In [7]:
out_df.to_csv('all_2k_tweets_embedded_bert.csv', index = False)