In [1]:
import pandas as pd
import numpy as np
import time
import random
from IPython.display import clear_output
import pickle

from transformers import BertTokenizer, TFBertModel

WARNING:tensorflow:From C:\Users\nicho\anaconda3\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
df = pd.read_csv('All_US_Tweets.csv')

In [3]:
df.columns

Index(['Timestamp', 'TweetText', 'Closest_State', 'Closest_City', 'Region'], dtype='object')

In [4]:
df['Region'].unique()

array(['South', 'Southwest', 'West Coast', 'Rockies', 'Northeast',
       'Midwest', 'NonCont'], dtype=object)

In [5]:
West_Coast = ('California','Oregon', 'Washington')
Southwest = ('Arizona','New Mexico','Oklahoma','Texas')
Rockies = ('Nevada','Utah','Colorado','Wyoming','Idaho','Montana')
Midwest = ('North Dakota','South Dakota','Nebraska','Kansas','Missouri','Iowa','Minnesota','Wisconsin','Illinois',
          'Indiana','Michigan','Ohio')
South = ('Arkansas','Louisiana','Mississippi','Tennessee','Kentucky','Alabama','Georgia','Florida','South Carolina','North Carolina',
        'Virginia','West Virginia','Maryland','Delaware', 'District of Columbia')
Northeast = ('Pennsylvania','New Jersey','New York','Massachusetts', 'Rhode Island','Conneticut','Vermont','New Hampshire','Maine')
NonCont = ('Hawaii','Alaska', 'Puerto Rico')

In [6]:
ROI = NonCont
Cap_Per_State = 2000
out_df = pd.DataFrame()

In [7]:
dfoi = df[df['Closest_State'].isin(ROI)]

In [8]:
for state in ROI:
    df_s = dfoi[dfoi['Closest_State'] == state]
    
    if len(df_s) < Cap_Per_State:
        sample_state = df_s.sample(n = len(df_s), random_state = 100)
    else:
        sample_state = df_s.sample(n = Cap_Per_State, random_state = 100)
    
    out_df = pd.concat([out_df, sample_state], ignore_index = True)

In [9]:
out_df['TweetText'] = out_df['TweetText'].astype(str)
out_df = out_df[out_df['TweetText'].str.split(" ").str.len() <= 29]

In [14]:
out_df.head()

,Timestamp,TweetText,Closest_State,Closest_City,Region
0,46868,"((tf.Tensor(-0.7304522, shape=(), dtype=float3...",Puerto Rico,Vega Alta,NonCont
1,32164,"((tf.Tensor(-0.29484046, shape=(), dtype=float...",Puerto Rico,Vega Alta,NonCont
2,81417,"((tf.Tensor(-0.40089443, shape=(), dtype=float...",Puerto Rico,Vega Alta,NonCont
3,65326,"((tf.Tensor(0.07629065, shape=(), dtype=float3...",Puerto Rico,Vega Alta,NonCont
4,44303,"((tf.Tensor(-0.116008, shape=(), dtype=float32...",Puerto Rico,Vega Alta,NonCont